* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  padding: 10px;
}

.tabular_heading {
  font-size: 18px;
  color: rgb(49, 49, 49);
  margin-bottom: 1em;
}

table {
  border: 1px solid #cdcdcd;
}

th {
  border-bottom: 1px solid #cdcdcd;
  padding: 0 20px;
}
th:nth-child(odd) {
  border-right: 1px solid #cdcdcd;
}
th:nth-child(2) {
  border-right: 1px solid #cdcdcd;
}


td {
  border: 1px solid #cdcdcd;
  padding: 3px;
}

.seperator {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 1px solid #cdcdcd;

}